body {
    background:linear-gradient(to right,#000000,#DF0000)
}
a {
    text-decoration: none;
    color: white;
}

header h1 {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 600px;
    color: white;
}

.nav {
    color: white;
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    gap: 20px;
    padding-right: 100px;
}

.nav li {
    list-style-type: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    padding: 20px ;
     display:flex;
    flex-direction: column; 
}

main button {
    color :rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(black,white);
    width: 155px;

}

.button1{

    padding: 20px 40px;
    transition: background-color 0,3s;

}
.button1:hover{
    background-image: linear-gradient(#000000,#2BA107);
}
.button2{
    margin-top: 15px;
    padding: 19px 27px;
    transition: background-color 0,3s;
}
.button2:hover{
    background-image: linear-gradient(#000000,#0015FF);
}
.button3{
    margin-top: 15px;
    padding: 20px 40px;
    transition: background-color 0,3s;
}
.button3:hover{
    background-image: linear-gradient(#000000,#FFFF04);
}


.footer {
    text-align: center;
    color: white;
    padding: 50px;
}

.container {
    background-color: white;
    padding: 100px;
    width: 75%;
    margin: auto;
    height: 400px;
    border-radius: 30px;
}


.description-game p {
    width: 600px;
    font-size: 20px;
    margin-left: 72px;
}
.container-game {
    display: flex;
}

.characters-img img {
    width: 137px;
    height: 250px;
}

.characters-img {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 100px;
}

.container-img {
    display: flex;


}


.hidden {
    display: none;
}


.learn-more {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#000000,#A100FF);
    padding: 18px 3px;
    border-radius: 10px;
}



.maps-images {
    display:inline-block;
    vertical-align: top;
    margin-left: 250px;
    margin-top: -250px;

}
.maps-images img {
    width: 200px;
    height: 100px;
}


.description-game {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 20px;
}

.container-maps {
    background-color: white;
    padding: 100px;
    width: 75%;
    margin: auto;
    height: 750px;
    border-radius: 30px;
    
}


.more-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#000000,#A100FF);
    padding: 18px 3px;
    border-radius: 10px;

}


.container-characters {
    background-color: white;
    padding: 100px;
    width: 75%;
    margin: auto;
    height: 3250px;
    border-radius: 30px;
    
}

